.header {
    color: black;
    display: flex;
    align-items: center;
    margin-top: 2em;
    margin-left: 4em;
    justify-content: space-between; 
    width: 85vw;
    border-bottom: 1px solid black;
}

.logo-title {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    gap: 1em;
}

.logo img {
    width: 60px;
    height: auto;
}

.logo h1 {
    font-size: 3.5em;
    margin: 0; 
}

.search {
    position: relative;
    width: 50%; 
    display: flex;
    align-items: center;
    margin-left: auto; 
}

.search .search-icon {
    color: #666; 
    position: absolute;
    left: 10px;
    top: 50%; 
    transform: translateY(-50%);
    padding-right:20px;
}

.search input[type="text"] {
    flex: 1;
    padding: 8px 30px 8px 30px;
    border-radius: 5px;
    border: 1px solid #ddd;
    transition: border-color 0.3s;
}

.search input[type="text"]:focus {
    outline: none; 
    border-color: #999; 
}

.search input[type="text"]::placeholder {
    color: #999; 
}

.search input[type="text"] {
    color: #333; 
}

.search input[type="text"]:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
