.header {
    color: black;
    display: flex;
    align-items: center;
    margin-top: 2em;
    margin-left: 4em;
    justify-content: space-between; 
    /* width: calc(100% - 8em);  */
    width:80vw;
    border-bottom: 1px solid black;
}

.logo-title {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    gap: 1em;
}

.logo img {
    width: 60px;
    height: auto;
}

.logo h1 {
    font-size: 3.5em;
    margin: 0; 
}

.search {
    width: 50%; 
    margin-left: auto; 
}

.search input[type="text"] {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    transition: border-color 0.3s;
}

.search input[type="text"]:focus {
    outline: none; 
    border-color: #999; 
}

.search input[type="text"]::placeholder {
    color: #999; 
}

.search input[type="text"] {
    color: #333; 
}

.search input[type="text"]:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}


